:root {
  --primary: #6b298a;
  --secondary: #79018C;
  --light: #de30be;
  --dark: #160040;
  --gradient: linear-gradient(45deg,
          #FF003F,
          #4D4DFF,
          #99FFFF);
}

html,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  display: table;
  max-width: 100%;
  background-color: var(--dark);
  color: white;
  font-family: sans-serif;
}

.navbar {
  position: fixed;
  height: 50vh;
  width: 5vw;
  opacity: 50%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 1s;
  margin-top: 20vh;
}
.navbar:hover {
  opacity: 100%;
}
.navbar__line {
  background-color: white;
  width: 2px;
  height: 80px;
  margin: 0.5rem 0;
}
.navbar button {
  background: none;
  border: none;
}
.navbar__icon {
  cursor: pointer;
  z-index: 1;
  color: black;
  border-radius: 50%;
  background-color: white;
  padding: 0.4rem;
  transition: ease-in-out 0.5s;
}
.navbar__icon:hover {
  background-color: black;
  color: white;
  border: solid white;
  transform: scale(110%);
}
.navbar #skill-btn {
  padding: 0.4rem 0.3rem;
}
.navbar__icon--active {
  cursor: pointer;
  z-index: 1;
  color: white;
  border-radius: 50%;
  background-color: black;
  border: solid white;
  padding: 0.4rem;
  transition: ease-in-out 0.5s;
}

header {
  background-image: url("Images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: black 2px solid;
  box-shadow: rgba(119, 124, 124, 0.9);
}
header .title-card-home {
  position: absolute;
  background-color: rgba(79, 87, 87, 0.9);
  padding: 2rem;
  border-radius: 1rem;
}
header .title-card-home__text {
  color: white;
  font-size: 8rem;
  text-align: center;
}
@media (max-width: 900px) {
  header .title-card-home__text {
    font-size: 6rem;
  }
}
@media (max-width: 800px) {
  header .title-card-home__text {
    font-size: 5rem;
  }
}

.about-me-section {
  display: flex;
  padding: 1rem;
  position: relative;
}
.about-me-section .about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  border-radius: 1rem;
  width: 100%;
  margin-right: 0.5rem;
  min-height: 600px;
  transition: ease-out 1s;
}
.about-me-section .about-me:hover {
  transform: scale(102%);
  box-shadow: 3px 6px black;
  z-index: 10;
}
@media (max-width: 600px) {
  .about-me-section .about-me {
    margin: 0;
  }
}
.about-me-section .about-me__title-card {
  width: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me-section .about-me__title {
  font-size: 7rem;
  position: relative;
}
.about-me-section .about-me__title--rotate {
  transform: rotate(-90deg);
  white-space: nowrap;
  font-family: reglisse;
  color: rgb(203, 59, 100);
}
.about-me-section .about-me__info {
  border-left: 1px solid;
  font-size: 2rem;
  padding: 1.8rem;
  word-spacing: 0.5rem;
  line-height: 3rem;
}
.about-me-section .aside {
  width: 100%;
  border-radius: 1rem;
  background-image: url(Images/altumcode-zE007SNgcdE-unsplash.jpg);
  background-size: cover;
  background-position: center;
  margin-left: 0.5rem;
}
.about-me-section .aside .square {
  background-color: black;
  width: 500px;
  height: 200px;
  border: solid red;
  position: absolute;
  right: 0;
  top: 20px;
  border-radius: 1rem 0 0 1rem;
}
@media (max-width: 800px) {
  .about-me-section .aside {
    display: none;
  }
}

.skill-section {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 1rem;
}
.skill-section .skills {
  background-image: var(--gradient);
  background-position: center;
  background-size: cover;
  transition: background-image 1s;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  color: white;
  border-radius: 1rem;
  margin-right: 0.5rem;
}
.skill-section .skills .skill {
  display: flex;
  width: 100%;
  min-height: 120px;
}
.skill-section .skills .skill__title-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  font-size: 2rem;
  color: var(--light);
  font-weight: bold;
}
@media (max-width: 900px) {
  .skill-section .skills .skill__title-card {
    display: none;
  }
}
.skill-section .skills .skill__icon-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-section .skills .skill__icon {
  border-radius: 1rem;
  font-size: 5rem;
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(82, 102, 106, 0.8);
  position: relative;
  overflow: hidden;
}
.skill-section .skills .skill__icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: -300px;
  width: 100%;
  height: 100%;
  background-color: rgba(202, 227, 233, 0.8);
  transform: skewX(-30deg);
  transition: 0.6s ease-in;
}
.skill-section .skills .skill__icon:hover::after {
  left: 250px;
}
.skill-section .skills .skill .from-left {
  border-radius: 0rem 1rem 1rem 0rem;
}
.skill-section .skills .skill .from-right {
  border-radius: 1rem 0rem 0 1rem;
}
.skill-section .skill-info {
  text-align: center;
  background-color: var(--primary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 100%;
  margin-left: 0.5rem;
  transition: ease-out 1s;
  z-index: 1;
}
.skill-section .skill-info:hover {
  transform: scale(102%);
  box-shadow: 3px 6px black;
  z-index: 10;
}
.skill-section .skill-info__text {
  border-right: solid 1px;
  margin: 1rem;
  font-size: 2rem;
  padding: 1.8rem;
  word-spacing: 0.5rem;
  line-height: 3rem;
}
.skill-section .skill-info__title-card {
  width: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-section .skill-info__title {
  font-size: 7rem;
}
.skill-section .skill-info__title em {
  color: rgb(203, 59, 100);
  font-size: 8rem;
}
.skill-section .skill-info__title--rotate {
  transform: rotate(90deg);
  white-space: nowrap;
  font-family: reglisse;
  color: rgb(206, 206, 125);
}
.skill-section .fa-html5 {
  color: orangered;
}
.skill-section .fa-css3-alt {
  color: rgb(104, 104, 218);
}
.skill-section .fa-square-js {
  color: yellow;
}
.skill-section .fa-sass {
  color: plum;
}
.skill-section .fa-bootstrap {
  color: blueviolet;
}

.projects-section {
  position: relative;
  text-align: center;
  border: solid red;
}
.projects-section__title {
  font-family: reglisse;
  font-size: 8rem;
  color: rgb(113, 172, 207);
}
.projects-section__title em {
  color: rgb(203, 59, 100);
  font-size: 8rem;
}
.projects-section .projects {
  background-color: var(--primary);
  border-radius: 1rem;
  margin: 1rem;
  padding: 3rem;
}
.projects-section .projects .project {
  position: relative;
}
.projects-section .projects .project:hover__card {
  opacity: 0%;
}
.projects-section .projects .project:hover__img {
  opacity: 50%;
}
.projects-section .projects .project__img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: lightgray;
  position: relative;
  z-index: 0;
  border: solid var(--dark);
}
.projects-section .projects .project__card {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  z-index: 100;
}
.projects-section .projects .project__button {
  padding: 1rem;
  cursor: pointer;
  opacity: 100%;
}
.projects-section .projects .project__button a,
.projects-section .projects .project__button a:visited,
.projects-section .projects .project__button a:active {
  text-decoration: none;
}
.projects-section .project-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 2rem auto;
  max-width: 500px;
  border-radius: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: gray;
  opacity: 50%;
}
.projects-section .project-nav:hover {
  opacity: 100%;
}
.projects-section .project-nav__btn, .projects-section .project-nav__btn--active {
  border-radius: 50%;
  padding: 1rem;
  transition: transform 1s;
  cursor: pointer;
}
.projects-section .project-nav__btn:hover, .projects-section .project-nav__btn--active:hover {
  transform: scale(120%);
}
.projects-section .project-nav__btn--active {
  background-color: black;
  border: white solid;
}
.projects-section .project-nav__line {
  background-color: white;
  width: 8rem;
  height: 1px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
footer .contact-section__title {
  font-family: reglisse;
  font-size: 6rem;
  align-self: start;
  margin-left: 0.8rem;
  margin-bottom: 3rem;
}
footer .contact-section .contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .contact-section .contact-form input {
  padding: 0rem 1em;
  line-height: 3rem;
  width: 100%;
  max-height: 80px;
  background: none;
  border: solid silver;
  color: white;
}
footer .contact-section .contact-form__user-info {
  display: flex;
  width: 100%;
}
footer .contact-section .contact-form__name {
  margin-right: 1rem;
}
footer .contact-section .contact-form__user-text {
  background: none;
  border: solid silver;
  color: white;
  width: 100%;
  height: 300px;
  resize: none;
  margin: 1rem;
  padding: 0rem 1em;
}
footer .contact-section .contact-form__submit-btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
footer .contact-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 100%;
  padding: 5rem;
}
footer .contact-links__icon {
  position: relative;
  overflow: hidden;
  color: aliceblue;
  border-radius: 1rem;
  font-size: 5rem;
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(79, 87, 87, 0.8);
}
footer .contact-links__icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: -300px;
  width: 100%;
  height: 100%;
  background-color: silver;
  transform: skewX(-30deg);
  transition: 0.6s ease-in;
}
footer .contact-links__icon:hover::after {
  left: 250px;
}

/* Javasript Helper Classes */
.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left,
.from-right {
  opacity: 0;
  transition: opacity 250ms ease-out, transform 400ms ease-out;
}

.from-left {
  transform: translateX(-50%);
}

.from-right {
  transform: translateX(50%);
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

@font-face {
  font-family: reglisse;
  src: url(Fonts/ReglisseBack-eZewm.otf);
}
