:root {
    --primary: #6b298a;
    --secondary: #79018C;
    --light: #de30be;
    --dark: #160040;
    --gradient: linear-gradient(45deg,
            #FF003F,
            #4D4DFF,
            #99FFFF);
}

$breakpoints: (
    large: 900px,
    medium: 800px,
    small: 600px
);

@mixin breakpoint($size) {
    @media (max-width: map-get($breakpoints, $size)) {
        @content
    }
}

@mixin shine($color) {
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -300px;
        width: 100%;
        height: 100%;
        background-color: $color;
        transform: skewX(-30deg);
        transition: 0.6s ease-in;
    }

    &:hover::after {
        left: 250px;
    }
}

html,
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    display: table;
    max-width: 100%;
    background-color: var(--dark);
    color: white;
    font-family: sans-serif;
}

.navbar {
    position: fixed;
    height: 50vh;
    width: 5vw;
    opacity: 50%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 1s;
    margin-top: 20vh;

    &:hover {
        opacity: 100%;
    }

    &__line {
        background-color: white;
        width: 2px;
        height: 80px;
        margin: .5rem 0;
    }

    button {
        background: none;
        border: none;
    }

    &__icon {
        cursor: pointer;
        z-index: 1;
        color: black;
        border-radius: 50%;
        background-color: white;
        padding: .4rem;
        transition: ease-in-out 0.5s;


        &:hover {
            background-color: black;
            color: white;
            border: solid white;
            transform: scale(110%);
        }
    }

    #skill-btn {
        padding: .4rem 0.3rem;
    }

    &__icon--active {
        cursor: pointer;
        z-index: 1;
        color: white;
        border-radius: 50%;
        background-color: black;
        border: solid white;
        padding: .4rem;
        transition: ease-in-out 0.5s;
    }
}

header {
    background-image: url('/Images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: black 2px solid;
    box-shadow: rgba(119, 124, 124, 0.9);

    .title-card-home {
        position: absolute;
        background-color: rgba(79, 87, 87, 0.9);
        padding: 2rem;
        border-radius: 1rem;

        &__text {
            color: white;
            font-size: 8rem;
            text-align: center;

            @include breakpoint(large) {
                font-size: 6rem;
            }

            @include breakpoint(medium) {
                font-size: 5rem
            }
        }
    }
}

.about-me-section {
    display: flex;
    padding: 1rem;
    position: relative;


    .about-me {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary);
        border-radius: 1rem;
        width: 100%;
        margin-right: 0.5rem;
        min-height: 600px;
        transition: ease-out 1s;

        &:hover {
            transform: scale(102%);
            box-shadow: 3px 6px black;
            z-index: 10;
        }

        @include breakpoint(small) {
            margin: 0;
        }


        &__title-card {
            width: 30%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__title {
            font-size: 7rem;
            position: relative;

            &--rotate {
                transform: rotate(-90deg);
                white-space: nowrap;
                font-family: reglisse;
                color: rgb(203, 59, 100);
            }
        }

        &__info {
            border-left: 1px solid;
            font-size: 2rem;
            padding: 1.8rem;
            word-spacing: .5rem;
            line-height: 3rem;
        }
    }

    .aside {
        width: 100%;
        border-radius: 1rem;
        background-image: url(/Images/altumcode-zE007SNgcdE-unsplash.jpg);
        background-size: cover;
        background-position: center;
        margin-left: 0.5rem;

        .square {
            background-color: black;
            width: 500px;
            height: 200px;
            border: solid red;
            position: absolute;
            right: 0;
            top: 20px;
            border-radius: 1rem 0 0 1rem;
        }

        @include breakpoint(medium) {
            display: none;
        }
    }
}


.skill-section {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 1rem;

    .skills {
        background-image: var(--gradient);
        background-position: center;
        background-size: cover;
        transition: background-image 1s;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        color: white;
        border-radius: 1rem;
        margin-right: 0.5rem;

        .skill {
            display: flex;
            width: 100%;
            min-height: 120px;

            &__title-card {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--dark);
                font-size: 2rem;
                color: var(--light);
                font-weight: bold;

                @include breakpoint(large) {
                    display: none;
                }
            }

            &__icon-container {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &__icon {
                border-radius: 1rem;
                font-size: 5rem;
                margin: 1rem;
                padding: 1rem;
                background-color: rgba(82, 102, 106, 0.8);
                position: relative;
                overflow: hidden;

                @include shine(rgba(202, 227, 233, 0.8));
            }

            .from-left {
                border-radius: 0rem 1rem 1rem 0rem;
            }

            .from-right {
                border-radius: 1rem 0rem 0 1rem;
            }
        }
    }

    .skill-info {
        text-align: center;
        background-color: var(--primary);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        width: 100%;
        margin-left: 0.5rem;
        transition: ease-out 1s;
        z-index: 1;

        &:hover {
            transform: scale(102%);
            box-shadow: 3px 6px black;
            z-index: 10;
        }

        &__text {
            border-right: solid 1px;
            margin: 1rem;
            font-size: 2rem;
            padding: 1.8rem;
            word-spacing: .5rem;
            line-height: 3rem;
        }

        &__title-card {
            width: 30%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__title {
            font-size: 7rem;

            em {
                color: rgb(203, 59, 100);
                font-size: 8rem;
            }

            &--rotate {
                transform: rotate(90deg);
                white-space: nowrap;
                font-family: reglisse;
                color: rgb(206, 206, 125);
            }
        }
    }

    .fa-html5 {
        color: orangered;
    }

    .fa-css3-alt {
        color: rgb(104, 104, 218);
    }

    .fa-square-js {
        color: yellow;
    }

    .fa-sass {
        color: plum;
    }

    .fa-bootstrap {
        color: blueviolet;
    }

}

.projects-section {
    position: relative;
    text-align: center;
    border: solid red;

    &__title {
        font-family: reglisse;
        font-size: 8rem;
        color: rgb(113, 172, 207);

        em {
            color: rgb(203, 59, 100);
            font-size: 8rem;
        }
    }

    .projects {
        background-color: var(--primary);
        border-radius: 1rem;
        margin: 1rem;
        padding: 3rem;

        .project {
            position: relative;

            &:hover {
                &__card {
                    opacity: 0%;
                }

                &__img {
                    opacity: 50%;
                }
            }

            &__img {
                width: 100%;
                height: 100%;
                border-radius: 1rem;
                background-color: lightgray;
                position: relative;
                z-index: 0;
                border: solid var(--dark);
            }

            &__card {
                display: flex;
                justify-content: center;
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: .5rem;
                z-index: 100;
            }

            //remove button - just link
            &__button {
                padding: 1rem;
                cursor: pointer;
                opacity: 100%;

                a,
                a:visited,
                a:active {
                    text-decoration: none;
                }
            }
        }
    }

    .project-nav {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 2rem auto;
        max-width: 500px;
        border-radius: 1rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        background-color: gray;
        opacity: 50%;

        &:hover {
            opacity: 100%;
        }

        &__btn,
        &__btn--active {
            border-radius: 50%;
            padding: 1rem;
            transition: transform 1s;
            cursor: pointer;

            &:hover{
                transform: scale(120%);
            }
        }

        &__btn--active {
            background-color: black;
            border: white solid;
        }

        &__line {
            background-color: white;
            width: 8rem;
            height: 1px;
        }
    }
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .contact-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;

        &__title {
            font-family: reglisse;
            font-size: 6rem;
            align-self: start;
            margin-left: 0.8rem;
            margin-bottom: 3rem;
        }

        .contact-form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            input {
                padding: 0rem 1em;
                line-height: 3rem;
                width: 100%;
                max-height: 80px;

                background: none;
                border: solid silver;
                color: white;
            }

            &__user-info {
                display: flex;
                width: 100%;
            }

            &__name {
                margin-right: 1rem;
            }

            &__user-text {
                background: none;
                border: solid silver;
                color: white;

                width: 100%;
                height: 300px;
                resize: none;
                margin: 1rem;
                padding: 0rem 1em;
            }

            &__submit-btn {
                color: white;
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
    }

    .contact-links {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 20%;
        height: 100%;
        padding: 5rem;

        &__icon {
            position: relative;
            overflow: hidden;
            color: aliceblue;
            border-radius: 1rem;
            font-size: 5rem;
            margin: 1rem;
            padding: 1rem;
            background-color: rgba(79, 87, 87, 0.8);

            @include shine(silver);
        }
    }
}

/* Javasript Helper Classes */
.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left,
.from-right {
    opacity: 0;
    transition: opacity 250ms ease-out, transform 400ms ease-out;
}

.from-left {
    transform: translateX(-50%);
}

.from-right {
    transform: translateX(50%);
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

@font-face {
    font-family: reglisse;
    src: url(/Fonts/ReglisseBack-eZewm.otf);
}
