@use '../App.scss';
@import '../App.scss';

.skill-section {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 1rem 1rem 2rem 1rem;

    .skills {
        background-color: var(--primary);
        border: solid 5px rgb(159, 159, 106);
        width: 100%;
        color: white;
        border-radius: 1rem;
        margin-right: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 1rem;

        &--backend{
            width: 40%;
        }

        &__wrapper {
            width: 100%;
        }

        &__title {
            font-size: 1.5rem;
            border-bottom: solid rgb(85, 82, 82);
            border-top: solid rgb(85, 82, 82);
            margin: 10px 0;
            padding: 1rem;
            color: rgb(203, 59, 100);

            &--primary {
                color: rgb(206, 206, 125);
            }
        }

        &__bucket {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .icon {
            width: 70px;
            height: 70px;
            border: solid black;
            border-radius: 1rem;
            background-color: rgba(79, 87, 87, 0.8);
            color: var(--dark);
            padding: 10px;
        }
    }
}

.card {
    border: solid 5px gray;
    border-radius: 1rem;
    padding: 0.5rem;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__title {
        font: bold;
        font-weight: 900;
    }
}

.skillInfo {
    text-align: left;
    background-color: var(--primary);
    border: solid 5px rgb(159, 159, 106);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 15%;
    margin-left: 0.5rem;
    transition: transform ease-out 1s, box-shadow 1s ease-in-out;
    z-index: 1;

    &__text {
        border-right: solid 1px;
        margin: 1rem;
        font-size: 3rem;
        padding: 1.8rem;
        line-height: 5rem;
    }

    &__title-card {
        width: 30%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-size: 7rem;

        em {
            color: rgb(203, 59, 100);
            font-size: 8rem;
        }

        &--rotate {
            transform: rotate(90deg);
            white-space: nowrap;
            font-family: reglisse;
            color: rgb(206, 206, 125);
        }
    }

    .fa-html5 {
        color: orangered;
    }

    .fa-css3-alt {
        color: rgb(104, 104, 218);
    }

    .fa-square-js {
        color: yellow;
    }

    .fa-sass {
        color: plum;
    }

    .fa-bootstrap {
        color: blueviolet;
    }

}