@use '../App.scss';
@import '../App.scss';

.aboutMe {
    display: flex;
    padding: 2rem 1rem 1rem 1rem;
    position: relative;
    width: 100%;

    &__titleCard {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary);
        border-radius: 1rem;
        width: 15%;
        min-height: 600px;
        margin-right: 0.5rem;
        transition: transform ease-out 1s, box-shadow 1s ease-in-out;

        @include breakpoint(small) {
            margin: 0;
        }
    }

    &__title {
        font-size: 7rem;
        position: relative;

        &--rotate {
            transform: rotate(-90deg);
            white-space: nowrap;
            font-family: reglisse;
            color: rgb(203, 59, 100);
        }
    }

    .resume {
        width: 90%;
        border-radius: 1rem;
        padding: 3rem;
        background-color: var(--primary);
        margin-left: 0.5rem;
        color: var(--dark);
        display: flex;

        .personalInfo {
            width: 40%;
            display: flex;
            flex-direction: column;
            margin-right: 3rem;
            font-size: 1.2rem;

            &__title {
                font-size: 1rem;
            }

            &__info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: stretch;
                line-height: 2rem;
                margin: 2rem 0rem;
            }
        }

        .job {
            margin: 2rem 0rem;
            font-size: 2rem;

            &__wrapper {
                display: flex;
                justify-content: space-between;
                font-size: 2rem;

                @include breakpoint(large) {
                    flex-direction: column;
                }
            }

            &__position {
                margin-bottom: 1rem;
            }

            &__date {
                font-size: 1rem;
                margin-bottom: 1rem;
            }

            &__company {
                font-size: 1.4rem;
                margin-bottom: 1rem;
                color: red;
            }

            &__list {
                font-size: 1.2rem;

                &-item {
                    margin: 1rem 0;
                }
            }
        }
    }
}