@use '../App.scss';
@import '../App.scss';

.projects-section {
    position: relative;
    text-align: left;
    width: 100%;

    &__title {
        font-family: reglisse;
        font-size: 8rem;
        text-align: center;
        color: rgb(113, 172, 207);
        background-color: var(--primary);

        em {
            color: rgb(203, 59, 100);
            font-size: 8rem;
        }
    }

    .carousel {
        background-color: var(--primary);
        border-radius: 1rem;
        margin: 1rem;
        padding: 3rem;

        &:hover .carousel__info,
        &:hover .carousel__title {
            opacity: 100%;
        }

        @include breakpoint(medium) {
            margin: 0;
            padding: 1rem;
            border-radius: 0;
        }

        &__track {
            position: relative;
            width: 100%;
            height: 80vh;
            padding: 0;

            @include breakpoint(medium) {
                height: auto;
            }
        }

        &__slide {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            transition: opacity ease-in 1s;
            border-radius: 1rem 1rem 1rem 1rem;

            @include breakpoint(medium) {
                position: relative;
                display: flex;
                overflow: auto;
                border: solid 5px var(--dark);
                opacity: 100% !important;
                border-radius: 0 0rem 1rem 1rem;
                transition: none;

                &:nth-of-type(even) {
                    flex-direction: row-reverse;
                }

                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
            }
        }

        &__image {
            object-fit: cover;
            object-position: center;
            width: 100%;

            @include breakpoint(medium) {
                width: 50%;
            }
        }

        &__title {
            background-color: var(--dark);
            color: black;
            border: solid 2px black;
            font-size: 2rem;
            position: absolute;
            top: 0;
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 50%;
            transition: opacity 1s ease-in-out;
            z-index: 1;

            @include breakpoint(medium) {
                opacity: 100%;
            }
        }

        &__info {
            background-color: var(--dark);
            color: black;
            border: solid 2px black;
            position: absolute;
            width: 100%;
            height: 30%;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            opacity: 0;
            transition: opacity 1s ease-in-out;

            @include breakpoint(medium) {
                position: relative;
                opacity: 100%;
                min-height: 500px;
                width: 50%;
                height: auto;
                flex-direction: column-reverse;
                justify-content: center;
                padding: 1rem;

                &:nth-of-type(even) {
                    border-radius: 0 0 1rem 0;
                }

                &:nth-of-type(odd) {
                    border-radius: 0 0 0 1rem;
                }
            }
        }

        &__icon-container {
            display: flexbox;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0 1rem;

            @include breakpoint(medium) {
                position: absolute;
                bottom: 0;
            }
        }

        &__icon {
            position: relative;
            color: var(--dark);
            border-radius: 1rem;
            font-size: 2rem;
            padding: 0.8rem;
            background-color: black;
            overflow: hidden;
            cursor: pointer;
            z-index: 999;
            border: solid black;

            &:hover {
                color: black;
                background-color: whitesmoke;
            }

            @include breakpoint(medium) {
                padding: 1rem;
                font-size: 4rem;
            }
        }
    }
}

.carousel-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 2rem auto;
    max-width: 500px;
    border-radius: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: gray;
    opacity: 50%;

    @include breakpoint(medium) {
        display: none;
    }

    &:hover {
        opacity: 100%;
    }

    &__dot,
    &__dot--active {
        border-radius: 50%;
        padding: 1rem;
        transition: 1s;
        cursor: pointer;

        &:hover {
            transform: scale(120%);
        }
    }

    &__dot--active {
        background-color: black;
        border: white solid;
    }

    &__line {
        background-color: white;
        width: 8rem;
        height: 1px;
    }
}