@use '../App.scss';
@import '../App.scss';

.projects-section {
    position: relative;
    text-align: left;
    width: 100%;

    &__title {
        font-family: reglisse;
        font-size: 8rem;
        text-align: center;
        color: rgb(113, 172, 207);
        background-color: var(--primary);

        em {
            color: rgb(203, 59, 100);
            font-size: 8rem;
        }
    }

}